<div class="page-container">
  <mat-toolbar color="primary">
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
  
      <a routerLink="/">
        <span class="app-title">Barwy Shop</span>
      </a>
    </div>

    <a routerLink="/" class="header-button">
      <span class="app-title">Catalog</span>
    </a>

    <mat-form-field class="search-bar">
      <input matInput [(ngModel)]="searchTerm" placeholder="Search"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
  #sidenav 
  autoFocus="false" 
  mode="over" 
  [(opened)]="isMenuOpen" 
  class="sidenav" 
  (click)="onSidenavClick()"
  >
      <a mat-button routerLink="/page1">Page 1</a>
      <a mat-button routerLink="/page2">Page 2</a>
      <a mat-button routerLink="/page3">Page 3</a>
      <a mat-button routerLink="/page4">Page 4</a>
      <a mat-button routerLink="/page5">Page 5</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>